body {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px;
  margin: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 1.25em;
  text-align: center;
  float: right;
  width: 80px;
  height: 30px;
  padding: 5px 10px 5px 10px;
}

p {
  font-weight: bold;
  margin: 10px;
  clear: both;
}

.row {
  width:100%;
}

.container {
	border: 1px solid black;
	margin: 0.5em;
	background-color: gray;
}

.section1 {
  background-color: #ffe6e6;
  border: 1px solid black;
}

.section2 {
  background-color: #cc0000;
  border: 1px solid black;
  color:#ffffff;
}

.section3 {
  background-color: #ffffcc;
  border: 1px solid black;
}

/********** Desktop view **********/
@media (min-width: 992px) {
  .sec-lg-4, .sec-lg-6, .sec-lg-12 {
	  float: left;
	  position: 
  } 
  .sec-lg-4 {
  	width: 33.33%;
  }
  .sec-lg-6 {
  	width: 50%;
  }
  .sec-lg-12 {
  	width: 100%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
.sec-md-4, .sec-md-6, .sec-md-12 {
	float: left;
	} 
  .sec-md-4 {
  	width: 33.33%;
  }
  .sec-md-6 {
  	width: 50%;
  }
  .sec-md-12 {
  	width: 100%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  .sec-sm-4, .sec-sm-6, .sec-sm-12 {
	  float: left;
  } 
  .sec-sm-4 {
  	width: 33.33%;
  }
  .sec-sm-6 {
  	width: 50%;
  }
  .sec-sm-12 {
  	width: 100%;
  }
}