body {
  font-size: 18px;
  color: #ffffff;
  background-color: #66cc99;
  font-family: 'Open Sans', sans-serif;
}

/** HEADER **/
header{
  background-color: #ffffff;
  padding-top: 18px;
  height: 79px;
  width: 100%;
  }

#logo-svg {
  background: url(../images/logo.svg) no-repeat;
  margin:auto;
  width: 60px;
  height: 43px;

}

section{
 	text-align: center;
 } 

 h1{
	padding-top: 35px;
	padding-bottom: 10PX;
	font-weight: bold;
	font-size: 36px;
 }
/** HEADER **/
.btn {
  padding: 1px;
	color:#ffffff;
	font-size:16px;
	font-weight: bold;
}

#main-content {
  padding-top: 30px; 
  display: flex;
  justify-content: center;
}


#card .col-md-3{
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  width: 220px;
  height: 430px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  margin-right: 15px;
}


.card-title{
  font-weight: normal;
  font-size: 16px;
  color:#333333;
  padding-left: 10px;
}

.card-text{
	font-weight: normal;
  font-size: 12px;
  color:#333333;
  padding-left: 10px;
}

.card-description{
  font-weight: normal;
  font-size: 12px;
  color:#999999;
  padding-left: 10px;
  padding-top: 15px;

}

h3{
  padding-top: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  
 

}
/**
	color:#ffffff;
	font-size:22px;
	font-weight: bold;

**/

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Large devices only **********/
@media (min-width: 1200px) {


}
